<form action="/register" method="POST" class="mt-8 space-y-6" enctype="multipart/form-data">
  <% if(messages.error) { %>
  <span><%= messages.error %>></span>
  <% } %>
    <div class="rounded-md shadow-sm -space-y-px">
    <div>
        <label for="name">Name</label>
        <input type="text" name="name" id="name"  placeholder="Name" value="<%= messages.name %> ">
    </div>
    <div>
        <label for="lastname">Last Name</label>
        <input type="text" name="lastname" id="lastname"  placeholder="lastname" value="<%= messages.lastname %>">
    </div>
    <div>
        <label for="orgName">Organization Name</label>
        <input type="text" name="orgName" id="orgName"  placeholder="orgName" value="<%= messages.orgName %> ">
    </div>
    <div>
        <label for="empId">Employee Id</label>
        <input type="text" name="empId" id="empId"  placeholder="empId" value="<%= messages.empId %> ">
    </div>
    <div>
      <label for="mobileNo">Mobile No</label>
      <input type="text" name="mobileNo" id="mobileNo"  placeholder="mobileNo" value="<%= messages.name %> ">
    </div>
    <div>
      <label for="file">Upload ID Card Image ( only png or jpeg )</label>
      <input type="file" id="imgId" name="file" value="" required>
    </div>

    <div>
      <label for="email">Email</label>
      <input type="text" name="email" id="email"  placeholder="email" value="<%= messages.email %> ">
    </div>
    <div >
      <label for="password">Password</label>
      <input type="password" name="password" id="password"  placeholder="Password">
    </div>


    <div>
      <button type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
        Sign Up
      </button>
    </div>
  </form>