<!-- CAROUSEL -->
<div class="intro">
	
		<div class="landingTitle row">
			<div class="col-md">
				<h1>We have the Freshest , Tastiest Food Ready To Go</h1>
				<p>Dont worry about lunch when we provide amazing food so don't wait and view our amazing menu</p>
				<a href="#menu"><h3>Check It Out</h3></a>
			</div>
			<div class="col-md" style="color: transparent;">
				<h1>We Deliver the Best</h1>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio minima fuga, accusamus blanditiis reprehenderit deleniti animi? Dignissimos est recusandae id voluptate beatae, laborum eum omnis provident impedit pariatur, corporis nulla.</p>
			</div>
		</div>
	
</div>


    <!-- END CAROUSEL -->



<div class="container-md mt-4" id="menu">

<!-- MENU -->
    <div class="displayMenu">
    	<div class="container" style="min-width: 500px;">
    	    <h1 class="heading">Our Menu</h1>
    	</div>
    
    	<ul class="filters text-center" style="min-width: 500px;">
    	    <li class="active" data-filter="*"><a href="#!">All</a></li>
    	    <li data-filter=".Main"><a href="#!">Main</a></li>
    	    <li data-filter=".Sides"><a href="#!">Sides</a></li>
    	    <li data-filter=".Beverages"><a href="#!">Beverages</a></li>
    	</ul>
    	<div class="projects">
    	<div class="d-flex flex-column text-center justify-content">
    	    <% items.forEach(function(item){ %>
    	    <div class="item <%= item.category %>"  style="max-width: 700px;">
    	        <div class="displayMenu mb-3" style="max-width: 700px; padding: 30px 0px 30px 150px; ">
    	            <div class="row g-0">
    	            	<div class="col-md-4">
    	            		<img src="/img/<%= item.itemImage %>" alt="..." width="200px" height="200px" style="border-radius: 50%;">
    	            	</div>
    	            	<div class="col-md-8" style="padding: 20px 20px 0 40px;">
    	            		<div class="card-body" style="color:#FF7314; font-weight: bold;">
    	            		    <h4 class="card-title"><%= item.name %></h4>
    	            		    <p class="card-text">Price: <%= item.price %></p>
    	            		    <button data-item="<%= JSON.stringify(item) %>" class="add-to-cart btn btn-warning" style="color: white;"><strong>Add</strong></button>
    	            		</div>
    	            	</div>
    	            </div>
    	        </div>
    	    </div>
    	    <% }) %>
    	</div>
    	</div>
    </div>
    <!-- END MENU -->
</div>

 

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="/js/isotope.min.js"></script>
<script src="/js/script.js"></script>